/************************TAG SELECTORS**************************/
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    margin-top: 50px;
    color: #bdffff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0f3057;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0f3057;
}

h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: #0f3057;
}

h6{
    font-size: 1.3rem;
    color: #b3b3b3;
}

a {
    color: #11999E;
}

hr {
    border: none;
    border-top: dotted 6px #d4d4d4;
    width: 5%;
    margin: 20px auto;
}

p {
    line-height: 2;
}

/* Navbar */
.navbar-parent-large {
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
}

.navbar-custom{
    padding: 10px 2px 10px 17px;
    background-color: #fff;
}

.nav-title{
    color: #0f3057;
    font-size: 22px;
    font-weight: bold;
}

.nav-subtitle{
    color: #9e9999;
    font-size: 14px;
}

.nav-brand{
    border-bottom: groove 3px rgb(255 255 255 / 50%);
}

.nav-item-list {
    padding: 10px 10px 10px 20px;
    text-align: left;
}

.navbar-toggler{
    float: left;
}

/* Title */

 .body-parent {
     width: 84%;
     float: right;
     background-color: #f9f8f9;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235da4a7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
@media (min-width: 1000px) {
 .navbar-parent-large {
     display: block;
     width: 15%;
 }
 .navbar-parent-small {
     display: none;
 }
 .nav-item-list:first-child{
     border-bottom: groove 2px;
 }
}

@media (max-width: 1000px) {
 h1 {
     font-size: 4.5rem;
 }
 h2 {
     font-size: 3rem;
     line-height: 1.6;
 }
 h4 {
    font-size: 2rem;
 }
 h5 {
    font-size: 1.8rem;
 }
 h6 {
    font-size: 2.5rem;
 }
 p {
      font-size: 2rem;
 }
 .heading {
     font-size: 3rem;
 }
 .body-parent {
     width: 100%;
     float: none;
     margin-top: 8rem;
 }
 .navbar-parent-large {
     display: none;
 }
 .navbar-parent-small{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
 }
 .nav-item-list {
     padding: 10px;
     margin: auto;
 }
 .nav-item-list h4, .nav-item-list h5 {
     text-align: center;
 }
 .nav-title {
     font-size: 3rem;
 }
 .nav-subtitle {
     font-size: 2rem;
 }
 .navbar-toggler-icon {
     float: left;
     margin: 44px 0px 32px;
     padding: 2rem;
 }
 .navbar-toggler {
     width: 100%;
 }
 .navbar-nav li{
     font-size: 2rem;
 }
 .top-container {
    text-align: center;
    height: 100vh;
}
.description {
    font-size: 200%!important;
}
.profile {
    height: 130vh;
}
.card-list {
    font-size: 2rem!important;
}
.card-body img {
    width: 10rem!important;
}
.skills-card .card-body {
    font-size: 2rem!important;
}
 button:focus {
    outline: 1px groove;
    /* outline: 5px auto -webkit-focus-ring-color; */
 }
}

.reset-default-margins {
    margin: 0;
}
/* COMMON */
.heading {
    text-align: left;
    color: #fff;
    background-color: #000000;
    margin: 0 0 5rem;
    padding: 2rem 2rem;
}


/* ABOUT SECTION */
.underline {
    border-bottom: 2px solid;
}
.top-container {
    background-color: #0f3057;
    text-align: left;
    position: relative;
    padding: 100px 100px 350px;
}
.profile {
    height: 100vh;
}
.self-description {
    text-align: left;
    font-weight: bold;
    padding: 5px 25px;
}
.description {
    width: 95%;
    margin: 0 auto 5rem;
    color: #40514E;
    font-size: 125%;
    text-align: left;
}

/* EXPERIENCE SECTION */
.experience-card {
    width: 90%;
    margin: 5% 4%;
    text-align: left;
    padding: 2% 5%;
}
.card-header {
    background-color: #fff;
}
.card-company {
    width: 49%;
    float: left;
}
.card-role {
    text-align: right;
    color: #99a3af;
    margin-top: 10px;
}
.card-list {
    line-height: 2;
    font-size: 1.2rem;
}
.company-logo {
    width: 5%;
    margin: 0 10px;
}


/* Education Section */
.education {
    height: 100vh;
}
.education-card {
    width: 90%;
    margin: 5% 4%;
    text-align: left;
    padding: 2% 5%;
}
.university-logo {
    width: 100px;
}
.education-body {
    font-size: 125%;
}
.joiner-style {
    font-size: 80%;
}


/* Skills Section */
.skills-card {
    width: 90%;
    margin: 5% 4%;
    text-align: left;
    padding: 2% 5%;
}
.skills-card .card-body {
    text-align: center;
    font-size: 1rem;
}
.skills-icons {
    width: 70%;
    margin: 3% 5% 3% 3%;
}
.skills-card img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.img-padding-1 {
    padding-top: 46px;
}
.img-padding-2 {
    padding-top: 18px;
}
.img-padding-3 {
    padding-top: 50px;
}

/* Contact Section */
.contact {
    height: 100vh;
}
.contact-container {
    padding: 0% 15% 10% 15%;
    text-align: left;
    font-size: 2rem;
}
.social-links:hover {
    text-decoration: none;
}
.social-links span:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    color: #11999E;
}
.social-links i {
    margin: 2px 10px;
    border-radius: 50%;
    border: solid 2px;
    font-size: 2rem;
    background-color: #11999E;
    padding: 14px;
    color: white;
}

/************************ID SELECTORS**************************/
