/************************TAG SELECTORS**************************/
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 5.62rem;
    margin-top: 50px;
    color: #bdffff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border: none;
    border-top: dotted 6px #EAF6F6;
    width: 4%;
    margin: 50px auto;
}

p {
    line-height: 2;
}

/* Navbar */
.navbar-parent-large {
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
}

.navbar-custom{
    padding: 10px 23px 10px;
    background-color: #fff;
}

.nav-title{
    color: #66BFBF;
}

.nav-subtitle{
    color: #9e9999;
    font-size: 1rem;
}

.nav-brand{
    border-bottom: groove 3px rgb(255 255 255 / 50%);
}

.nav-item-list {
    padding: 10px;
}

.navbar-toggler{
    float: left;
}

/* Title */
@media (min-width: 1000px) {
 .body-parent {
     width: 84%;
     float: right;
 }
 .navbar-parent-large {
     display: block;
     width: 15%;
 }
 .navbar-parent-small {
     display: none;
 }
}

@media (max-width: 1000px) {
 .body-parent {
     width: 100%;
     float: none;
 }
 .navbar-parent-large {
     display: none;
 }
 .navbar-parent-small{
     display: block;
 }
 .nav-item-list {
     padding: 10px;
     margin: auto;
 }
}

.reset-default-margins {
    margin: 0;
}

.top-container {
    background-color: #0f3057;
    text-align: left;
    position: relative;
    padding: 100px 100px 350px;
}

.middle-container {}

.bottom-container {
    margin: 50px auto 0;
    background-color: #f1f3f8;
    padding: 50px 0;
}

.pro {
    text-decoration: underline;
}

.circular {
    border-radius: 50%;
}

.profile-pic {
    margin-top: 50px;
}

.description {
    width: 35%;
    margin: auto;
    color: #40514E;
    text-align: justify;
}

.skills-icons {
    margin: 0 10px;
    width: 12%;
}

.programmer {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
}

.contact-me-link {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 0px;
    line-height: 0px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 131px;
    font-size: 20px;
    font-weight: 100;
    padding: 21px;
    background-color: #66BFBF;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 25px auto;
}

.social-links-container {
    margin: 0 auto 30px;
}

.social-links {
    margin: 5px;
}

.copyright {
    margin: 0 auto;
    color: #66bfbf;
    width: 12%;
}

.copyright-desc {
    margin-bottom: 2px;
}

.copyright-symbol {
    float: left;
    margin: 3px auto;
}

/************************ID SELECTORS**************************/
